body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
  background: linear-gradient(to right, #e6eaf3, #d4e0f0);
  margin-top: 50px;
}

/* .container-dashboard {
  max-width: 1000px;
  height: 93vh; 
  margin: 50px auto;
  padding: 20px;
  text-align: center;
} */

.container-dashboard {
  width: 60vw; /* largura total da viewport */
  /* altura total da viewport */
  margin: 0px auto; /* remove margens externas */
  padding: 20px; /* mantém um espaçamento interno */
  text-align: center; /* centraliza o conteúdo em texto */
  box-sizing: border-box;
}

.titulo-pagina {
  /* font-size: 28px; */
  color: #333;
  margin-bottom: 50px;
}

.botoes-acao {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.botao-registrar,
.botao-relatorio {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.3s ease;
}

.botao-registrar {
  background-color: #28a745;
  color: white;
  transform: translateY(-2px);
}

.botao-relatorio {
  background-color: #17a2b8;
  color: white;
  transform: translateY(-2px);
}

.botao-registrar:hover {
  background-color: #218838;
  transform: scale(1.03);
}

.botao-relatorio:hover {
  background-color: #138496;
  transform: scale(1.03);
}

.card-tabela {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
  overflow-x: auto;
  margin-top: 20px;
}

.tabela-visitantes {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.tabela-visitantes thead {
  background-color: #007bff;
  color: white;
}

.tabela-visitantes th,
.tabela-visitantes td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.lista_dados:hover {
  background-color: #f2f2f2;
}

/* .tabela-visitantes  thead:hover {
   background-color: #007bff;
  color: white;
} */
